<div class="outer-container">
    <div class="inner-container">
      <button (click)="goToHistory()" class="footer-button">
        <img src="assets/icons/history.png" alt="History Icon" />
      </button>
      <button (click)="goToHome()" class="footer-button">
        <img src="assets/icons/home.png" alt="History Icon" />
    </button>
      <button (click)="goToNewGame()" class="footer-button-plus">
        <img src="assets/icons/plus.png" alt="Select Game Icon" />
      </button>
      <button (click)="goToLeaderboard()" class="footer-button">
        <img src="assets/icons/trophy.png" alt="History Icon" />
      </button>
      <button (click)="goToSettings()" class="footer-button">
        <img src="assets/icons/settings.png" alt="Settings Icon" />
      </button>
    </div>
  </div>
  