<div class="dashboard">
    <h1 class="title">Perudo</h1>
    <!-- Divider line -->
    <hr class="divider">

    <!-- Section to select players -->
  <div *ngIf="!showTable" class="select-players-section">
    <h3 class="title">Select Players:</h3>
    <div class="players-list">
        <div *ngFor="let player of players" class="player-item">
            <input type="checkbox" [id]="player.name" [value]="player.name" (change)="onPlayerChange($event)" />
            <label class="player-select" [for]="player.name">{{ player.name }}</label>
        </div>
    </div>
    <button class="ready-button" (click)="onReady()">Ready</button>
  </div>


    <!-- Section to display the score table -->
  <div *ngIf="showTable && !gameEnded" class="score-table-section">
    <table class="score-table">
        <thead>
            <tr>
                <th *ngFor="let player of selectedPlayers">{{ player.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let round of rounds">
                <td *ngFor="let player of selectedPlayers">
                    <input type="number" [(ngModel)]="round[player.name]" class="score-input" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-buttons">
        <button class="round-button" (click)="addRound()">Add Round</button>
        <button class="end-button" (click)="endGame()">End Game</button>
    </div>
  </div>


    <!-- Section to display game results -->
    <div *ngIf="gameEnded">
        <h3 class="title">Game Results:</h3>
        <p class="player-select" *ngFor="let player of selectedPlayers">{{ player.name }}: {{ player.score }} points</p>
        <p class="winner" *ngIf="winner">Winner: {{ winner.name }} with {{ winner.score }} points</p>
        <div class="table-buttons">
          <button class="new-button" (click)="newGame()">New Game</button>
        <button class="end-button"  (click)="gameMenu()">Back to Home Screen</button>
        </div>
      </div>
</div>