* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.player-select, .title {
    color: white;
}

.winner {
    color: gold;
    font-weight: bold;
}

.dashboard {
    height: 100%;
    font-family: 'Agrandir', sans-serif;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.dashboard > h1 {
    text-align: left;
}

.divider {
    border: 0;
    height: 5px;
    border-radius: 5px;
    background: #004AAD;
    margin: 20px 0;
}

div {
    text-align: center;
}
  
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    margin: 5px 0;
}
  
table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

  
th, td {
    padding: 10px;
    text-align: left;
}
input[type="number"] {
    width: 50px; /* Adjust the width to fit 2 digits */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    text-align: center;
  }

/* select players area */
.select-players-section {
    margin: 20px auto;
    text-align: center;
}

.subtitle {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.players-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.player-item {
    background-color: #004AAD;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2); /* Larger checkbox */
}

.player-select {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    cursor: pointer;
}

.ready-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease;
}

.ready-button:hover {
    background-color: white; 
    color:#4CAF50;
}

/* score table */
.round-button {
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.round-button:hover {
    background-color: white; 
    color:#004AAD;
  }

.end-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.end-button:hover {
    background-color: white; 
    color:red;
}

.new-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.new-button:hover {
    background-color: white; 
    color:orange;
}

.table-buttons {
    display: flex;
    justify-content: space-between;
}