<div class="dashboard">
  <div class="header-data">
    <h1>Choose a Game</h1>
  </div>
  <!-- Divider line -->
  <hr class="divider">
    <div class="game-container">
        <button class="perudo-button" [routerLink]="['/perudo']">
          <img src="assets/perudo.png" alt="Perudo" class="button-image">
          Perudo
        </button>
        <!-- Add more buttons for other games as needed -->
      </div>
    <ng-template #noGames>
      <p>No games found.</p>
    </ng-template>
  </div>
  