* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles.css */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

.dashboard {
    height: 100%;
    color: white;
    font-family: 'Agrandir', sans-serif;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

/* Center content */
.dashboard > h1 {
    text-align: left;
}

/* Divider line */
.divider {
    border: 0;
    height: 5px;
    border-radius: 5px;
    background: #004AAD;
    margin: 20px 0;
}

.header-data{
    display: flex;
    align-items: baseline;
}

.header-data p {
    font-size: 0.75rem;
    padding-left: 10px;
    font-style: italic;
}

/* Dummy games section */
.dummy-games {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Space between dummy games */
    margin-bottom: 30px;
    margin-top: 10px;
}

.dummy-game-container {
    position: relative; /* Container needs to be positioned relative */
}

.dummy-game {
    width: 100px; /* Width of the dummy game */
    height: 100px; /* Height of the dummy game */
    background-color: #004AAD; /* Placeholder color for the game image */
    border-radius: 15px; /* Rounded corners */
}

.ranking {
    position: absolute;
    top: 70px;
    right: 65px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
}
