<div class="dashboard">
    <div class="header-data">
        <h1>Viversel Games</h1>
        <p>V1.0.0</p>
    </div>
    <hr class="divider">

    <h2>Laatst Gespeeld</h2>
    <div class="dummy-games">
        <div class="dummy-game"></div>
        <div class="dummy-game"></div>
        <div class="dummy-game"></div>
    </div>

    <h2>Meest Gespeeld</h2>
    <div class="dummy-games">
        <div class="dummy-game-container">
            <div class="dummy-game"></div>
            <span class="ranking">#1</span>
        </div>
        <div class="dummy-game-container">
            <div class="dummy-game"></div>
            <span class="ranking">#2</span>
        </div>
        <div class="dummy-game-container">
            <div class="dummy-game"></div>
            <span class="ranking">#3</span>
        </div>
    </div>
</div>
